@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --beige:#a67a5b;
}

*{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--beige);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#555;
}

html::-webkit-scrollbar-thumb{
    background:var(--beige);
}

body{
    background:url('./9beccb827631833cf79f9d92bb92e394.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--beige);
}

.heading{
    text-align: center;
    margin:0 4rem;
    font-size: 4rem;
    padding-top:0;
    background-color: #decdb9;
    color:#9c6644;
}

.heading span{
    color:var(--beige);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:url('./9beccb827631833cf79f9d92bb92e394.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .developer img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--beige);
}

header .developer .name{
    font-size: 3.5rem;
    color:#d0a48d;
}

header .developer .tagline{
    font-size: 2rem;
    color:#6f4e37;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--beige);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background: #a88e7a;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    background: url('./43ed9000bd258bec1039149f7a718d5a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#6f4e37;
}

.home h1{
    font-size:5rem;
    color:#a88c7d;
}

.home h1 span{
    color:var(--beige);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}

.aboutme .info{
    max-width: 500px;
    margin: auto;
    padding: 0%;
    margin-top: 2rem;
}

.aboutme .info p{
    font-size: 2rem;
    text-align: justify;
    text-transform: none;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 2rem;
}

.education .box-container .box{
    width:100%;
    margin:4rem 1rem;
    padding-left: 2rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 2rem;
    align-self:center;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#a88c7d;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.5rem;
    line-height: 2 ;
    color:#9c6644;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:4rem;
    width: 4rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--beige);
}

.certificates .box-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:2rem 0;
}

.certificates .box-container .box{
    height: 25rem;
    width:35rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.certificates .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.certificates .box-container .box:hover img{
    transform: scale(1.5);
}

.contact{
    display: flex;
    background: #3a3533;
    background-size: cover;
    background-repeat: no-repeat;
    flex-flow: column;
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:rgba(230, 187, 187, 0.2);
    color:#fff;
    text-transform: none;
    font-size: 1.8rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    text-align: justify;
    color:#fff;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    text-transform: none;
    font-size: 1.5rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--beige);
}

/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:1rem 3rem;
    }

    .aboutme .box{
        width: 100%;
    }
 
    .education .box-container .box{
        padding:0%;
        width:100%;
    }

    .certificates .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }